
<ion-content  [fullscreen]="true" >
  <div class="content" >
    

<div class="circle" align="center"><img src="assets/img/ambisome-1.svg"></div>



<ul class="nav">

                <li> <ion-button color="primary" expand="full" routerLink="/home">
             Cálculo de dosificación Ambisome</ion-button></li>

                <li><a target="_blank" href="pdf/FIProfesional_AMBISOME_13_11_20.pdf">Folleto Información Profesional</a></li>


            


</ul>

  </div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>