
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 
    
    <card>
        <div class="content">
            <div class="text" style="transform: rotate(239deg);">
                <img src="assets/img/info.svg" alt="">
            </div>
            <div class="circle">
                <img src="assets/img/circle.svg" alt="">
            </div>
        </div>
    



     <ion-split-pane contentId="main-content">
            <div class="content-op">
                <ul class="opciones-peso">
                    <li>Peso del paciente</li>
                    <li><a href="#" data-girar="360" class=" active">10 kg</a></li>
                    <li><a href="#" data-girar="298" class="">25 KG</a></li>
                    <li><a href="#" data-girar="239" class="">40 kg</a></li>
                    <li><a href="#" data-girar="179" class="">55 KG</a></li>
                    <li><a href="#" data-girar="119" class="">70 KG</a></li>
                    <li><a href="#" data-girar="62" class="">85 KG</a></li>
                </ul>
            </div>
  </ion-split-pane>
<p>
</p>
</card>
</ion-content>


<!-- Footer without a border -->
<ion-footer >
  
    <ion-title>Footer - No Border</ion-title>
  
</ion-footer>
 
 
 
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script>
        $('.opciones-peso li a').click(function (e) { 
            e.preventDefault();
            $('.opciones-peso li a').removeClass("active");
            var $girar = $(this).attr("data-girar");
            $('.calculo .text').css({'transform': 'rotate('+ $girar +'deg)'});
            $(this).addClass("active");

            $('.hamburger').removeClass("active");
            $('.hamburger').removeClass("is-active");
            $('.content-op').removeClass("active");
            $('body').removeClass("active");
        });

        $('.hamburger').click(function (e) { 
            e.preventDefault();
            $(this).toggleClass("active");
            $('body').toggleClass("active");
            $(this).toggleClass("is-active");
            $('.content-op').toggleClass("active");
        });

        
    </script>